body,
p,
h1,
ul,
li,
blockquote {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: "Vonlkorns";
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.lateral {
    display: block;
    border: 5px;
    padding: 3px;
    color: white;
    margin-top: 40px;
    margin-left: 20px;
    max-width: 100px;
    /* margin: 0 auto 30px auto; */
    border-radius: 5px;
    box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);


}

.livro {
    height: 92%;
    width: 60%;
}

.comeco {
    height: 62%;
    width: 112%;
}

.estrutura {
    display: grid;

    grid-template-columns: minmax(160px, 1fr) 3fr 300px;
    grid-template-areas:
        "header header header"
        "sidnave sidnave sidnave"
        "footer footer footer";
}

.header {
    grid-area: header;
    background: #dfa0df8f;
    position: fixed;
    backdrop-filter: blur(19.5px);
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

.logo {
    max-width: 200px;
}

.header nav ul {
    display: flex;
    flex-wrap: wrap;
    margin-right: 5vh;
}

.header nav a {
    display: block;
    padding: 10px;
    color: white;
    font-size: 1.125em;
    background: rgb(0, 0, 0, .1);
    border-radius: 5px;
    transition: 0.1s;


}

.header nav a:hover {
    background: rgb(0, 0, 0, .5);
    transition: 0.1s;
}

.header li+li {
    margin-left: 30px;
}

.sidenav {
    grid-area: sidenave;
    background: #fafbfc;
    padding: 30px;
    z-index: -1;
    position: fixed;
}

/* .sidnav img{
    display: block;
    min-width: 10px;
    max-width: 100px;
    margin: 0 auto 30px auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15); 
}*/

.sidnav li a:hover {
    background: #b07dfb;
}


.content {
    max-width: 900px;
    margin: 0 auto;
    padding: 30px;
    display: flex;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    margin-left: 200px;
    flex-direction: column;
}

.content span,
p {
    font-size: 20px;

}

.titulo {
    color: #d114ae;
    margin-top: 70px;

}

.titulo h1 {
    font-size: 3.70em;
    line-height: 1;
    font-weight: 700;

}

.titulo span {

    font-style: italic;
}


.col-wide {

    grid-column: 1 / -1;
}

.caracteristicas {
    display: flex;
    align-items: flex-start;



}

.caracteristicas>div {
    width: 80px;
    text-align: center;
    background: linear-gradient(135deg, #f26ffd, #ffbfe7);
    border-radius: 5px;
    box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
    position: relative;
    margin: 20px;

}

.caracteristicas>div:first-child {
    margin-right: 30px;
}

.caracteristicas span {
    display: block;
    color: #b055cc;
}

.caracteristicas .numero {

    font-size: 3em;
    line-height: 1;
    margin: 10px 10px;

}

.rotulo {
    background: white;
    border-radius: 0 0 5px 5px;
    padding: 5px 0;
    position: relative;
    top: 2px;

}

.destaque {
    font-size: 18px;
    color: #3b82df;
    max-width: 16em;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.citacao {
    padding: 30px;
    /* align-self: start; */
    border-radius: 5px;
    box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
    background: linear-gradient(135deg, #dd30ec, #ffbfe7);
    width: 670px;
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.citacao p {
    font-size: 1.5em;
    font-style: italic;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    color: white;

}

.AjusteConteudo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.atributos {
    padding: 30px;

    border-radius: 5px;
    box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
    background: linear-gradient(135deg, #dd30ec, #ffbfe7);
    height: 450px;
    width: 262px;
}

.atributos li {
    color: white;
    font-family: Courier, monospace;
    font-size: 1.2em;
    padding: 15px;
    border-bottom: 2px solid #b055cc;
}

.atributos li+li {
    border-top: 2px solid #b055cc;
}

.anuncios {
    grid-area: anuncios;
}

.anuncios {
    background: #fafbfc;
    display: grid;
    align-content: start;
    padding: 30px;
    grid-gap: 30px;
}

.footer {
    grid-area: footer;
    background: linear-gradient(135deg, #f26ffd, #ffbfe7);

}

.footer p {
    color: white;
    align-items: center;
    padding: 30px;
}

.MaeDeTodos {
    display: flex;
    height: 100%;
    width: 100%;
}

.CaixaConteudo {
    display: flex;
    flex-direction: row;


}

.AjusteConteudoAtributos {
    display: flex;
    flex-direction: column;
}

.CaixaMenorAtributos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.informacoes {
    display: flex;
    flex-direction: column;
    width: 250px;
}

.livroAutora {
    width: 250px;
    margin: 10px;
}

.textoAutora {
    display: flex;
    width: 400px;
    height: 250px;

}

.DivMaior {
    display: flex;
    flex-direction: column;
}

.divContainer {
    width: auto;
    align-items: center;


}

.livroNatalia {
    width: 200px;
    margin: 5px;
}

.textoDaNatalia {
    display: flex;
    width: 400px;
    height: 170px;
    margin-left: 5px;

}

.DivMenor {
    display: flex;
    flex-direction: column;
    padding: 30px;
    /* align-self: start; */
    border-radius: 5px;
    box-shadow: 5px 5px 15px 0px rgba(211, 13, 194, 0.589);
    background: white;
    width: 670px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.divCont {
    width: auto;
    align-items: center;


}